
<!-- User Profile Page -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{username}</title>

      <link rel="stylesheet" href="../public/styles/_profile.css">
    <link rel="stylesheet" href="../public/styles/root.css">

</head>
<body>
    <main>

    </main>
</body>
</html>