
<!-- Sign Up Profile Page -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se!</title>

    <link rel="stylesheet" href="../public/styles/root.css">
    <link rel="stylesheet" href="../public/styles/_signUp.css">

</head>
<body>
    <main>
      <div id="card">
        <div id="art">
          <div id="info">
            <h1>Bem-vindo ao <span class="highlighted-span">ExpoPortfólio</span></h1>
            <p>Mostre seus melhores projetos ao mundo!</p>
          </div>
        </div>
        <div id="registration-form">
          <h1>Cadastre-se!</h1>
          <Form>
            <input type="text" name="username" id="username" placeholder="Nome de usuário">
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Senha">
            <button type="submit">Cadastrar</button>
          </Form>
        </div>
      </div>
    </main>
</body>
</html>